<!DOCTYPE html>
<html lang="{{texts.lang}}">

<head>
    {{>headContent}}
    <title>نغمة وطن</title>
</head>

<body>

    <link rel="stylesheet" href="/style/{{defaultStyle}}/home/main.css" />
    <!-- Header -->
    <header id="header">
        <div class="logo"><a href="/">Nagmatwatan <span>.com</span></a></div>
        <a href="#menu"><i class="fas fa-bars"></i></a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="/">الرئيسية</a></li>

        </ul>
    </nav>

    <!-- Banner -->
    <!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
    <section id="banner" class="bg-img" data-bg="banner1.jpg">
        <div class="inner">
            <div class="row">
                <div class="col-sm-4" id="logo"></div>
                <div class="col-sm-8" id="logoTitle">
                    نغمة وطن
                    <p id="logoDescription">
                        ان الوعد ما بيننا لا قالت عيونك تعال ياللي هناك .. نَحْنُ هُنا تكفى التفت يابن الحلال. عطني من
                        وقتك دقيقه شوف لك أيّت طريقه الوله ما بل ريقه و ما قالت عيونك تعال.
                    </p>
                </div>
            </div>
        </div>
        <a href="#one" class="more">Learn More</a>
    </section>

    <!-- One -->
    <section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">

        <div class="inner">
            <article class="box">
                <header>
                    <h2>من نحن</h2>
                    <p>01.02.2019</p>
                </header>
                <div class="content">
                    <p>Scelerisque enim mi curae erat ultricies lobortis donec velit in per cum consectetur purus a enim
                        platea vestibulum lacinia et elit ante scelerisque vestibulum. At urna condimentum sed vulputate
                        a duis in senectus ullamcorper lacus cubilia consectetur odio proin sociosqu a parturient nam ac
                        blandit praesent aptent. Eros dignissim mus mauris a natoque ad suspendisse nulla a urna in
                        tincidunt tristique enim arcu litora scelerisque eros suspendisse.</p>
                </div>
                <footer>

                </footer>
            </article>
        </div>

        <a href="#two" class="more">Learn More</a>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper post bg-img" data-bg="banner3.jpg">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>المسرح</h2>
                    <p>12.21.2016</p>
                </header>
                <div class="content">
                    <p>Scelerisque enim mi curae erat ultricies lobortis donec velit in per cum consectetur purus a enim
                        platea vestibulum lacinia et elit ante scelerisque vestibulum. At urna condimentum sed vulputate
                        a duis in senectus ullamcorper lacus cubilia consectetur odio proin sociosqu a parturient nam ac
                        blandit praesent aptent. Eros dignissim mus mauris a natoque ad suspendisse nulla a urna in
                        tincidunt tristique enim arcu litora scelerisque eros suspendisse.</p>
                </div>
                <footer>

                </footer>
            </article>
        </div>
        <a href="#three" class="more">Learn More</a>
    </section>
    <!-- Two -->
    <section id="two" class="wrapper post bg-img" data-bg="banner4.jpg">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>الغناء</h2>
                    <p>12.21.2016</p>
                </header>
                <div class="content">
                    <p>Scelerisque enim mi curae erat ultricies lobortis donec velit in per cum consectetur purus a enim
                        platea vestibulum lacinia et elit ante scelerisque vestibulum. At urna condimentum sed vulputate
                        a duis in senectus ullamcorper lacus cubilia consectetur odio proin sociosqu a parturient nam ac
                        blandit praesent aptent. Eros dignissim mus mauris a natoque ad suspendisse nulla a urna in
                        tincidunt tristique enim arcu litora scelerisque eros suspendisse.</p>
                </div>
                <footer>

                </footer>
            </article>
        </div>
        <a href="#three" class="more">Learn More</a>
    </section><!-- Two -->
    <section id="two" class="wrapper post bg-img" data-bg="banner5.jpg">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>المعرض</h2>
                    <p>12.21.2016</p>
                </header>
                <div class="content">
                    <p>Scelerisque enim mi curae erat ultricies lobortis donec velit in per cum consectetur purus a enim
                        platea vestibulum lacinia et elit ante scelerisque vestibulum. At urna condimentum sed vulputate
                        a duis in senectus ullamcorper lacus cubilia consectetur odio proin sociosqu a parturient nam ac
                        blandit praesent aptent. Eros dignissim mus mauris a natoque ad suspendisse nulla a urna in
                        tincidunt tristique enim arcu litora scelerisque eros suspendisse.</p>
                </div>
                <footer>

                </footer>
            </article>
        </div>
        <a href="#three" class="more">Learn More</a>
    </section>

    <!-- Four -->
    <section id="four" class="wrapper post bg-img" data-bg="banner6.JPG">
        <div class="inner">
            <header style="text-align:center;">
                <h2>المؤتمرات السابقة</h2>
            </header>
            <div class="row">
                <div class="col-sm-6">
                    <article class="box">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="sponsorImg" style="background-image:url('/img/bau.png');"></div>
                            </div>
                            <div class="col-sm-6">
                                <p>20.11.2018</p>
                                <div class="sponsorTitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                    Aliquid officia ut dolore in, expedita, debitis et mollitia pariatur qui ullam esse
                                    itaque. Id incidunt, expedita laboriosam aliquid accusamus aspernatur quos.</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6">
                    <article class="box">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="sponsorImg" style="background-image:url('/img/au.png');"></div>
                            </div>
                            <div class="col-sm-6">
                                <p>21.03.2019</p>
                                <div class="sponsorTitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                    Aliquid officia ut dolore in, expedita, debitis et mollitia pariatur qui ullam esse
                                    itaque. Id incidunt, expedita laboriosam aliquid accusamus aspernatur quos.</div>
                            </div>
                        </div>
                    </article>
                </div>

            </div>

        </div>
    </section>
    <!-- Four -->
    <section id="four" class="wrapper post bg-img" data-bg="banner7.JPG">
        <div class="inner">
            <header style="text-align:center;">
                <h2>الداعمين</h2>
            </header>
            <div class="row">
                <div class="col-sm-6">
                    <article class="box">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="sponsorImg" style="background-image:url('/img/logo.png');"></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="sponsorTitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                    Aliquid officia ut dolore in, expedita, debitis et mollitia pariatur qui ullam esse
                                    itaque. Id incidunt, expedita laboriosam aliquid accusamus aspernatur quos.</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6">
                    <article class="box">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="sponsorImg" style="background-image:url('/img/logo.png');"></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="sponsorTitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                    Aliquid officia ut dolore in, expedita, debitis et mollitia pariatur qui ullam esse
                                    itaque. Id incidunt, expedita laboriosam aliquid accusamus aspernatur quos.</div>
                            </div>
                        </div>
                    </article>
                </div>

            </div>

        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">

            {{!-- <h2>Contact Us</h2>

            <form action="#" method="post">

                <div class="field half first">
                    <label for="name">Name</label>
                    <input name="name" id="name" type="text" placeholder="Name">
                </div>
                <div class="field half">
                    <label for="email">Email</label>
                    <input name="email" id="email" type="email" placeholder="Email">
                </div>
                <div class="field">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
                </div>
                <ul class="actions">
                    <li><input value="Send Message" class="button alt" type="submit"></li>
                </ul>
            </form> --}}
            <div class="row">
                <div class="col" id="logoFooter"></div>
            </div>
            <ul class="icons">
                <li><i class="fab fa-facebook fa-3x"
                        onclick="window.open('https://www.facebook.com/nagmat1watan/','_blank');"></i></li>
                <li><i class="fab fa-instagram fa-3x"
                        onclick="window.open('https://www.instagram.com/nagmat_watan/','_blank');"></i></li>


                <li><i class="fab fa-facebook fa-3x" style="display:none;"></i></li>
            </ul>

            <div class="copyright">
                &copy; Untitled. Company: <a href="http://nagmatwatan.com">nagmatwatan.com</a>.
            </div>

        </div>
    </footer>

    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/main.js"></script>

    {{>footerContent}}
</body>

</html>